.main-container{
    background-color: teal;
    height: 100vh;
    display: grid;
    gap:10px;
    padding: 5px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    

}


.child{
    background-color: whitesmoke;
    border: 2px solid black;
}

.child1{
    grid-row: span 3;
}

.child2{
    grid-column: span 2;
}
.child6{
    grid-row: span 2;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}