
.main-out{
    padding: 10px;
    background-color: #f4f7fb;
}

.main{
      background-color: #c85a32;
}

.browse{
    font-size: larger;
}
.share-book{
    font-size:xx-large;
}
.nav{
    display: flex;
    justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
    background-color: #000000;
    color: white;
}

.list{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.main{
  
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.top{
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}

.bottom{
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto ;
}

.left{
    padding: 15px;
    grid-column:  span 7;
    background-color: white;
    border-radius: 15px;
}


.booksgrid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 15px;
}

.book{
    background-color: #fffbeb;
    border-radius: 10px;
    padding: 10px;
    grid-column: span 1;
    grid-row: span 1;
}

.share{
    color: #eb6623;
}

.right{
 padding: 15px;
    grid-column:  span 5;
    background-color: white;
    border-radius: 15px;
}

.text{
    width: 99%;
    border-radius: 10px;
    height: 25px;
    margin-bottom: 10px;
}

.text1{
    width: 99%;
    border-radius: 15px;
    height: 55px;
    margin-bottom: 10px;
}

.submit{
     width: 100%;
    border-radius: 10px;
    height: 40px;
    background-color: #f97316;
    border: none;
}

.copy{
    background-color: #000000;
    text-align: center;
    color: white;
    padding: 10px;
}
